/* general */

.hidden {
    display : none !important;
}

.modal-body-form {
    text-align: left;
}
.modal-dialog .form-check {
    display: flex;
}
.modal-dialog .form-check {
    display: flex;
}
.modal-dialog .form-check label {
    margin: auto;
    padding-left: 10px;
}

/* headers */
header.main_header h1 {
    font-size: calc( var(--fontSize_unit) * 3);
    font-family: var(--font_2);
}
header.main_header h2 {
    font-size: calc( var(--fontSize_unit) *1.4 );
}

/* disable text selection on tables for multi-select */

.users-table tr,
.text-table tr,
.corpora-table tr,
.dico-table tr {
            user-select: none; /* CSS3 (little to no support) */
        -ms-user-select: none; /* IE 10+ */
       -moz-user-select: none; /* Gecko (Firefox) */
    -webkit-user-select: none; /* Webkit (Safari, Chrome) */
}

/* edition-widget */

.edition-widget {
    width: 100%;
    border: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    color: var(--color_1);
}
.edition-widget.editable:hover {
    background-color: #F5F5F8;
}
[page=projects-mosaic] .project-infos-container .edition-widget.editable:hover {
    background-color: white;
}
textarea.edition-widget {
    resize: none;
}

/* metadata widgets */

.cartouche-metaDatas {
    position: relative;
}
/*
.cartouche-metaDatas .icon-add-metadata {
    position: absolute;
    left: -22px;
    bottom: -5px;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
}
.cartouche-metaDatas .icon-add-metadata .icon-plus-circled {
    color: var(--color_1);
}
.cartouche-metaDatas:hover .icon-add-metadata {
    opacity: 0.4;
}
.cartouche-metaDatas .icon-add-metadata:hover {
    opacity: 0.8;
}
*/



.data-widget,
.metadata-widget {
    display: flex;
    position: relative;
}
.metadata-widget .icon-delete-metadata {
    position: absolute;
    padding-left: 20px;
    left: auto;
    right: -10px;
    /*width: 30px;*/
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
}
.metadata-widget .icon-delete-metadata .icon-cancel-circled {
    color: var(--color_1);
}
.metadata-widget:not(.dnd-working):hover .icon-delete-metadata {
    opacity: 0.4;
}
.metadata-widget:not(.dnd-working) .icon-delete-metadata:hover {
    opacity: 0.8;
}

.metadata-sort-placeholder {
    height: 1.5em;
    line-height: 1.2em;
    background-color: #F5F5F8;
}

/* modale projects-list-view */

.listing_modale_wrapper.project-infos-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}
.listing_modale_wrapper.project-infos-container.visible {
    visibility: visible;
    opacity: 1;
}

/* tags-input */
.tags-input {
}
.tags-input .dropdown {
    background-color: transparent;
    border: none;
    padding: 0px 4px;
}
.tags-input .dropdown input {
    background-color: transparent;
}
.tags-input .badge {
    color: var(--bs-table-hover-color);
    border: 1px solid;
    border-color: var(--bs-table-hover-color) !important;
    background-color: transparent !important;
}
.tags-input .badge .remove {
    cursor: pointer;
    margin-left: 5px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid grey;
}

.table-col-title {
    display: flex;
}
.table-col-title .sort-filters {
    margin-left: auto;
    margin-right: 0;
}
.table-col-title .sort-filters .sort-filter {
    margin-left:3px;
    cursor: pointer;
}

.table-col-title .sort-filters .sort-filter.active {
    border-color: white;
}

.table-col-title .sort-filters .sort-filter.sort-filter-asc.active:after {
    border-top: 5px solid white;
}
.table-col-title .sort-filters .sort-filter.sort-filter-desc.active:after {
    border-bottom: 5px solid white;
}

/* page projects-mosaic */
.template_mosaique .mosaique_wrapper .card.active {
    background: linear-gradient(#6FD0FC, #6BA4F2);
    color: white;
    cursor: pointer;
    transition: all .3s;
}

/* hack css manu merge bootstrap radio */

.main_header .navbar_container .sort_item .pin {
    appearance: auto;
}

/* panel rights */

.user-rights-panel {
}
.user-rights-panel .left-col {
    border-right: 1px solid var(--color_1);
    opacity: 0.8;
}

.user-rights-panel .left-col .icon-person,
.user-rights-panel .left-col .icon-group {
    width: 28px;
    display: flex;
}

.user-rights-panel .left-col .icon-person img {
    height: 12px;
    margin: auto;
}

.user-rights-panel .left-col .icon-group img {
    height: 10px;
    margin: auto;
}

/* page settings */
[page=settings] .settings-general-menu .tab-content {
    height: 100%;
    background-color: white;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

thead th[property-name=thumbnail] {
    width: 50px;
}
td.col-thumbnail .col-container,
td.col-username .col-container {
    display: flex;
}
td.col-username .icon-group {
}
td.col-username .icon-user {
}
td.col-thumbnail .img_container {
    width: 25px;
    height: 25px;
}
td.col-thumbnail .img_container img {
    width: 100%;
    height: 100%;
}

/* dropzone thumbnail */

.dropzone-thumbnail {
    border-radius: 50%;
    height: 59px;
    width: 59px;
    background-size: cover;;
}

/* user-list and user-item */
.plist {
    border: 1px solid rgb(206, 212, 218);
    padding: 5px;
    border-radius: .25rem;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.user-item {
    display: flex;
    width: 100%;
    padding: 5px;
    border: 1px solid var(--color_1);
    border-radius: 24px;
}
.user-item:not(:last-child) {
    margin-bottom: 5px;
}

.user-item .img_container {
    display: flex;
    width: 40px;
    min-width: 40px;
    margin-left: 5px;
}
.user-item .img_container img {
    margin: auto;
}
.user-item .txt_container {
    width: 100%;
    margin-left: 10px;
    text-align: left;
    display: flex;
}
.user-item .txt_container .v-align {
    margin-top: auto;
    margin-bottom: auto;
}
.user-item .txt_container .first-and-last-name {
    font-size: calc( var(--fontSize_unit) * 1.2);
}
.user-item .icon_container {
    display: flex;
    margin-right: 5px;
}
.user-item .icon_container .icon-cancel-circled {
    margin: auto;
    cursor: pointer;
    color: var(--color_1);
    transition: color 0.3s
}
.user-item .icon_container .icon-cancel-circled:hover {
    color: black;
}
.user-item .rights-selector {
    width: 100px;
    margin-right: 10px;
}


/* auto-complete-input */

.auto-complete-input .dropdown-menu {
    width: 100%;
}
.auto-complete-input .dropdown-menu .dropdown-item {
    cursor: pointer;
}

/* modale create user, create group */
.modal-body .thumbnail-field .dropzone-panel.novalue {
    background-size: 50%;
}

/* card switcher */

.card .card-switcher-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* dico-panel */

.dico-panel .dico-elements {
    margin-top: 10px;
}
.dico-panel .dico-elements .accordion-button.leaf::after {
    display: none;
}
.dico-panel .dico-elements .accordion-button {
    padding: 5px 5px;
}
.dico-panel .dico-elements .accordion-item .accordion-item .accordion-button {
    padding-left: 10px;
}
.dico-panel .dico-elements .accordion-item.selected > .accordion-header > button {
    background-color: var(--color_2);
}
.dico-panel .dico-elements .accordion-item.selected > .accordion-header > button * {
    color: white;
}
.dico-panel .dico-elements .accordion-button:focus {
    box-shadow: none;
}
.dico-panel .dico-elements .accordion-item input {
    cursor: pointer;
}