/* general */

.hidden {
    display : none !important;
}

/* headers */
body[page=project] header.main_header h1 {
    font-size: calc( var(--fontSize_unit) * 3);
    font-family: var(--font_2);
}
body[page=project] header.main_header h2 {
    font-size: calc( var(--fontSize_unit) *1.4 );
}

/* disable text selection on tables for multi-select */

.text-table tr,
.corpora-table tr,
.dico-table tr {
            user-select: none; /* CSS3 (little to no support) */
        -ms-user-select: none; /* IE 10+ */
       -moz-user-select: none; /* Gecko (Firefox) */
    -webkit-user-select: none; /* Webkit (Safari, Chrome) */
}

/* edition-widget */

.edition-widget {
    width: 100%;
    border: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    color: var(--color_1);
}
.edition-widget:hover {
    background-color: #F5F5F8;
}
textarea.edition-widget {
    resize: none;
}

/* metadata widgets */

.cartouche-metaDatas {
    position: relative;
}
.cartouche-metaDatas .icon-add-metadata {
    position: absolute;
    left: -22px;
    bottom: -5px;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
}
.cartouche-metaDatas .icon-add-metadata .icon-plus-circled {
    color: var(--color_1);
}
.cartouche-metaDatas:hover .icon-add-metadata {
    opacity: 0.4;
}
.cartouche-metaDatas .icon-add-metadata:hover {
    opacity: 0.8;
}



.data-widget,
.metadata-widget {
    display: flex;
    position: relative;
}
.metadata-widget .icon-delete-metadata {
    position: absolute;
    left: -22px;
    width: 30px;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
}
.metadata-widget .icon-delete-metadata .icon-cancel-circled {
    color: var(--color_1);
}
.metadata-widget:not(.dnd-working):hover .icon-delete-metadata {
    opacity: 0.4;
}
.metadata-widget:not(.dnd-working) .icon-delete-metadata:hover {
    opacity: 0.8;
}

.metadata-sort-placeholder {
    height: 1.5em;
    line-height: 1.2em;
    background-color: #F5F5F8;
}

/* modale projects-list-view */

.listing_modale_wrapper.project-infos-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}
.listing_modale_wrapper.project-infos-container.visible {
    visibility: visible;
    opacity: 1;
}

/* tags-input */
.tags-input {
}
.tags-input .dropdown {
    background-color: transparent;
    border: none;
    padding: 0px 4px;
}
.tags-input .dropdown input {
    background-color: transparent;
}
.tags-input .badge {
    color: var(--bs-table-hover-color);
    border: 1px solid;
    border-color: var(--bs-table-hover-color) !important;
    background-color: transparent !important;
}
.tags-input .badge .remove {
    cursor: pointer;
    margin-left: 5px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid grey;
}

.table-col-title {
    display: flex;
}
.table-col-title .sort-filters {
    margin-left: auto;
    margin-right: 0;
}
.table-col-title .sort-filters .sort-filter {
    margin-left:3px;
    cursor: pointer;
}
.table-col-title .sort-filters .sort-filter.selected {
    color: red;
}


