<table class="table table-hover">
    <thead>
        <tr>
            <th property-name="name">
                <div class="table-col-title">
                    Name
                    {% include "main/prospero/structure/table/sort-filters.html" %}
                </div>
            </th>
            <th property-name="author">
                <div class="table-col-title">
                    Author
                    {% include "main/prospero/structure/table/sort-filters.html" %}
                </div>
            </th>
            <th property-name="nbTexts">
                <div class="table-col-title">
                    Nb texts
                    {% include "main/prospero/structure/table/sort-filters.html" %}
                </div>
            </th>
            <th property-name="tags">
                <div class="table-col-title">
                    Tags
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <!--
        <tr class="active">
            <td>Covid-19</td>
            <td>John Doe</td>
            <td>covid-19, vaccin</td>
        </tr>
        <tr>
            <td>Covid-19</td>
            <td>John Doe</td>
            <td>covid-19, vaccin</td>
        </tr>
        <tr>
            <td>Covid-19</td>
            <td>John Doe</td>
            <td>covid-19, vaccin</td>
        </tr>
        <tr>
            <td>Covid-19</td>
            <td>John Doe</td>
            <td>covid-19, vaccin</td>
        </tr>
        <tr>
            <td>Covid-19</td>
            <td>John Doe</td>
            <td>covid-19, vaccin</td>
        </tr>
        -->
    </tbody>
</table>