{% load custom %}
<header class="main_header ">
    <div class="main_header_left">
        <h1>{{ project.name }}</h1>
        <h2><strong>Author :</strong> {{ project.owner.interfaceName }} - <strong>Creation :</strong> {{ project.creationDate|dateConcise }}</h2>
        <h2>{{ project.description|txtConcise:300 }}</h2>
    </div>
    <div class="main_header_right">
        {% if user.isOwner %}
            <div action-name="multi-actions" class="btn-group state-button">
                <button type="button" class="btn btn-primary new-item-button state-button-state">
                Import
                </button>
                <button type="button" class="btn btn-primary new-item-button dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Import</a></li>
                    <li><a class="dropdown-item" href="#">Export</a></li>
                </ul>
            </div>
        {% endif %}
        {% include "main/prospero/structure/header/connection-panel.html" %}
    </div>
</header>