<div class="card height_25">
    <div class="card-header">
        <div class="left">
            <h3 class="title txt_25">Info</h3>
        </div>
        <div class="right">
            {% include "main/prospero/svg-icons/edit.html" %}
            {% include "main/prospero/svg-icons/plus.html" %}
            {% include "main/prospero/svg-icons/moins.html" %}
        </div>
    </div>
    <div class="card-body">
        <div class="cartouche txt_15">
            <div class="cartouche_item"><label>Owner: </label>Le vaccin contre le Covid-19 sera-t-il obligatoire ?</div>
            <div class="cartouche_item"><label>Permissions: </label>Read & Write</div>
            <div class="cartouche_item"><label>Tags: </label>Covid-19, vaccin, gouvernement, pandémie, …</div>
            <div class="cartouche_item"><label>Number of text: </label>May 25, 2020</div>
            <div class="cartouche_item"><label>Number of media text: </label>Internet</div>
            <div class="cartouche_item"><label>Commentaries: </label>Researches about something</div>
        </div>
    </div>
</div>