<article class="cartouche project-infos" object-model="Project" object-id="{{ project.id }}">
    <div class="card-header" style="padding-left: 0px;">
        <div class="left">
            <h4>{{ project.name }}</h4>
        </div>
        <div class="right" style="width:2rem;">
            {% include "main/prospero/widgets/generic-menu.html" %}
        </div>
    </div>
    <span class="bold">{{ project.nbTexts }} texts / {{ project.nbTextChar }} characters</span>
    <p class="intro">{{ project.description }}</p>
    <div class="cartouche_item">
        <span class="label">Created:</span>
    </div>
    <div class="cartouche_item">
        {{ project.creationDate }}
    </div>
    <div class="cartouche_item">
        <span class="label">Modified:</span>
    </div>
    <div class="cartouche_item">
        {% if project.lastModificationDate %}
            {{ project.lastModificationDate }}
        {% else %}
            Never
        {% endif %}
    </div>
    <div class="cartouche_item">
        <span class="label">Last opened:</span>
    </div>
    <div class="cartouche_item">
        {% if project.lastOpeningDate %}
            {{ project.lastOpeningDate }}
        {% else %}
            Never
        {% endif %}
    </div>
    <div class="cartouche_item">
        <span class="label">Tags:</span>
    </div>
    <div class="cartouche_item">
        {{ project.tagList }}
    </div>
    <div class="cartouche_item">
        <span class="label">Created by:</span>
    </div>
    <div class="cartouche_item">
        {{ project.owner.interfaceName }}
    </div>
    <div class="separation"></div>
    <div class="row user-rights-panel">
        <div class="col left-col">
            Members
            <div>
                <div><span class="icon-person"></span>Me</div>
                <div><span class="icon-person"></span>Orélie</div>
                <div><span class="icon-group"></span>Public</div>
            </div>
        </div>
        <div class="col">
            Privilege
            <div>
                <div>Read & write</div>
                <div>Read & write</div>
                <div>Read & write</div>
            </div>
        </div>
    </div>
</article>