{% load custom %}
<article class="cartouche project-infos" object-model="Project" object-id="{{ project.id }}" data-widget="{{ projectData|dump }}">
    <div class="card-header" style="padding-left: 0px;">
        <div class="left">
            <h4>
                <input class="edition-widget" property-name="name" type="text" value="{{ project.name }}" disabled>
            </h4>
        </div>
        <div class="right" style="width:2rem;">
            {% include "main/prospero/widgets/generic-menu.html" %}
        </div>
    </div>
    <span class="bold">{{ project.nbTexts }} texts / {{ project.nbTextChar }} characters</span>
    <!--<textarea class="intro edition-widget" property-name="description">{{ project.description }}</textarea>-->
    <p class="intro edition-widget" property-name="description">{{ project.description }}</p>
    <div class="cartouche_item">
        <span class="label">Created:</span>
    </div>
    <div class="cartouche_item">
        {{ project.creationDate }}
    </div>
    <div class="cartouche_item">
        <span class="label">Modified:</span>
    </div>
    <div class="cartouche_item">
        {% if project.lastModificationDate %}
            {{ project.lastModificationDate }}
        {% else %}
            Never
        {% endif %}
    </div>
    <div class="cartouche_item">
        <span class="label">Last opened:</span>
    </div>
    <div class="cartouche_item">
        {% if project.lastOpeningDate %}
            {{ project.lastOpeningDate }}
        {% else %}
            Never
        {% endif %}
    </div>
    <div class="cartouche_item">
        <span class="label">Tags:</span>
    </div>
    <div class="cartouche_item">
        <div class="tags-input edition-widget" property-name="tags">
            {{ project.tagList }}
        </div>
    </div>
    <div class="cartouche_item">
        <span class="label">Created by:</span>
    </div>
    <div class="cartouche_item">
        {{ project.owner.interfaceName }}
    </div>
    <div class="separation"></div>
    <div class="row user-rights-panel">
        <div class="col left-col">
            Members
            <div>
                {% for userRight in projectRights %}
                    <div>
                        <span class="{% if userRight.user.isUser %}icon-person{% else %}icon-group{% endif%}"></span>
                        {% if user.id == userRight.user.id %}
                            <span>Me</span>
                        {% else %}
                            <span>{{ userRight.user.username }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col">
            Privilege
            <div>
                {% for userRight in projectRights %}
                    <div>{{ userRight.right }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</article>