{% extends 'main/prospero/structure/base.html' %}
{% block content %}
	<div class="main_content template_mosaique">
		<section class="row ">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Firstname</th>
						<th>Lastname</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
					</tr>
					<tr>
						<td>Mary</td>
						<td>Moe</td>
						<td>mary@example.com</td>
					</tr>
					<tr>
						<td>Mary</td>
						<td>Moe</td>
						<td>mary@example.com</td>
					</tr>
					<tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
					</tr>
					<tr>
						<td>July</td>
						<td>Dooley</td>
						<td>july@example.com</td>
					</tr>
					<tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
					</tr>
					<tr>
						<td>July</td>
						<td>Dooley</td>
						<td>july@example.com</td>
					</tr>
					<tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
					</tr>
					<tr class="active">
						<td>Mary</td>
						<td>Moe</td>
						<td>mary@example.com</td>
					</tr>
					<tr>
						<td>Mary</td>
						<td>Moe</td>
						<td>mary@example.com</td>
					</tr>
					<tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
					</tr>
					<tr>
						<td>July</td>
						<td>Dooley</td>
						<td>july@example.com</td>
					</tr>
					<tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
					</tr>
					<tr>
						<td>July</td>
						<td>Dooley</td>
						<td>july@example.com</td>
					</tr>
					<tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
					</tr>
					<tr>
						<td>Mary</td>
						<td>Moe</td>
						<td>mary@example.com</td>
					</tr>
					<tr>
						<td>Mary</td>
						<td>Moe</td>
						<td>mary@example.com</td>
					</tr>
					<tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
					</tr>
					<tr>
						<td>July</td>
						<td>Dooley</td>
						<td>july@example.com</td>
					</tr>
					<tr>
						<td>John</td>
						<td>Doe</td>
						<td>john@example.com</td>
					</tr>
					<tr>
						<td>July</td>
						<td>Dooley</td>
						<td>july@example.com</td>
					</tr>
				</tbody>
			</table>
			<div class="listing_modale_wrapper">
				<article class="cartouche">
					<h4>Algues vertes et nitrates</h4>
					<span class="bold">300 texts / 200 000 characters</span>
					<p class="intro">Algues vertes et nitrates concerne la crise du Coronavirus sur son aspect
						attentatoire aux libertés individuelles à partir de tribunes publiées du 20 avril au 5
						mai.
					</p>
					<div class="cartouche_item">
						<span class="label">Created:</span>
					</div>
					<div class="cartouche_item">
						Wednesday, April 29th, 2020 at 2:24pm
					</div>
					<div class="cartouche_item">
						<span class="label">Created:</span>
					</div>
					<div class="cartouche_item">
						Wednesday, April 29th, 2020 at 2:24pm
					</div>
					<div class="cartouche_item">
						<span class="label">Created:</span>
					</div>
					<div class="cartouche_item">
						Wednesday, April 29th, 2020 at 2:24pm
					</div>
					<div class="cartouche_item">
						<span class="label">Created:</span>
					</div>
					<div class="cartouche_item">
						Wednesday, April 29th, 2020 at 2:24pm
					</div>
					<div class="separation"></div>
					<div class="row">
						<div class="col">col</div>
						<div class="col">col</div>
					</div>
				</article>
			</div>
		</section>
	</div>
{% endblock %}
