{% extends 'main/prospero/structure/base.html' %}
{% block header %}
	{% include "main/prospero/project/header.html" %}
{% endblock %}
{% block content %}
	<div class="main_content ">
		<section class="row project-view" data-object='{{ project|safe }}'>
			<div class="col screenHeight">
                <div id="layout" style="width: 100%; height: 100%;"></div>
			</div>
		</section>
		<section class="hidden">
			{% include "main/prospero/project/corpusTablePanel.html" %}
			{% include "main/prospero/project/dicoTablePanel.html" %}
			{% include "main/prospero/project/textTablePanel.html" %}
			{% include "main/prospero/project/editorPanel.html" %}

		</section>
	</div>
	<script>
		prospero.onload(function() {
			var mainLayout = new PLayout($('#layout'));
			var lock1 = mainLayout.init([
				{ type: 'left', size: '33%', resizable: true, content: 'left' },
				{ type: 'main', content: 'main' },
				{ type: 'right', size: '33%', resizable: true, content: 'right' }
			]);
			prospero.wait(lock1, function() {
				//w2ui['layout'].html('left', '<div id="layout2" style="width:100%; height:100%;"></div>');
				var $leftPanel = mainLayout.getPanel('left');
				var $container = $('<div id="layout2" style="width:100%; height:100%;"></div>')
				$leftPanel.append($container);
				var leftLayout = new PLayout($container);
				var lock2 = leftLayout.init([
					{ type: 'main' },
					{ type: 'preview', size: '50%', resizable: true, content: 'preview' }
				]);
				prospero.wait(lock2, function() {
					leftLayout.getPanel('main').append($(".corpora-table"));
					leftLayout.getPanel('preview').append($(".dico-table"));
					mainLayout.getPanel('main').append($(".text-table"));
					mainLayout.getPanel('right').append($(".editor-panel"));

					var $projectView = $(".project-view");
					var projectView = new PProjectView($projectView, $projectView.data("object"));
					projectView.load();
					/*
					prospero.onload(function() {
						newMetadataModal.show();
					});
					*/
				});
			});
		});
	</script>
{% endblock %}
