{% extends 'main/prospero/structure/base.html' %}
{% block header %}
	{% include "main/prospero/projects-mosaic/header.html" %}
{% endblock %}
{% block content %}
	<div class="main_content template_mosaique">
		<section class="row ">
			<div class="col col-sm-9 mosaique_wrapper">
				<div class="card project-card add-project-card">
					<div class="card-header  card-header-icon">
						{% include "main/prospero/svg-icons/plus-blue.html" %}
						<h3 class="txt_20 title"> New project</h3>
					</div>
				</div>
				{% include "main/prospero/projects-mosaic/projects.html" %}
			</div>
			<div class="col col-sm-3 grid_side_wrapper project-infos-container">
				{% if project %}
					{% include "main/prospero/project/project-infos.html" %}
				{% endif  %}
			</div>
		</section>
	</div>
	<script>
		var pInterface = null;
		prospero.getInterface(function(pinterface) {
			new PProjectsMosaicView();
		});
	</script>
{% endblock %}
