{% extends 'main/prospero/structure/base.html' %}
{% block header %}
	{% include "main/prospero/settings/header.html" %}
{% endblock %}
{% block content %}
	<div class="main_content">
		<section class="row preferences-view">
			<div class="col screenHeight settings-general-menu">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="groups-and-users-tab" data-bs-toggle="tab" data-bs-target="#groups-and-users" type="button" role="tab" aria-controls="groups-and-users" aria-selected="true">
							Groups & users
						</button>
					</li>
					<!--<li class="nav-item" role="presentation"><button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button></li>-->
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="groups-and-users" role="tabpanel" aria-labelledby="groups-and-users-tab">
						{% include "main/prospero/settings/users-panel.html" %}
					</div>
					<!--<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>-->
				</div>
			</div>
		</section>
	</div>
	<script>
		var pInterface = null;
		prospero.getInterface(function(pinterface) {
			new PUsersView().load();
		});
	</script>
{% endblock %}
