{% extends 'main/prospero/structure/base.html' %}
{% block content %}
	<div class="container-fluid showgrid">
		<h2>Grid</h2>
		<div class="row">
			<div class="col">.col</div>
			<div class="col">.col</div>
			<div class="col">.col</div>
		</div>
		<div class="row">
			<div class="col">.col</div>
			<div class="col">.col</div>
		</div>
		<div class="row">
			<div class="col-sm-4">.col-sm-4</div>
			<div class="col-sm-8">.col-sm-8</div>
		</div>
		<div class="row">
			<div class="col-sm-4">.col-sm-4</div>
			<div class="col-sm-4">.col-sm-4</div>
			<div class="col-sm-4">.col-sm-4</div>
		</div>
	</div>
	<div class="container-fluid">
		<h2>Buttons</h2>
		<div class="row">
			<div class="col">
				<button type="button" class="btn btn-primary">Primary</button>
				<button type="button" class="btn btn-secondary">Secondary</button>
			</div>
			<div class="col">
				<button type="button" class="btn btn-primary btn-lg">Large</button>
				<button type="button" class="btn btn-primary">Default</button>
				<button type="button" class="btn btn-primary btn-sm">Small</button>
			</div>
			<div class="col">
				<button class="btn btn-primary">
				<span class="spinner-border spinner-border-sm"></span>
				</button>
				<button class="btn btn-primary" disabled>
				<span class="spinner-border spinner-border-sm"></span>
				Loading..
				</button>
				<button class="btn btn-primary" disabled>
				<span class="spinner-grow spinner-grow-sm"></span>
				Loading..
				</button>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<h2>Titres</h2>
		<h1>h1 Bootstrap heading (2.5rem = 40px)</h1>
		<h2>h2 Bootstrap heading (2rem = 32px)</h2>
		<h3>h3 Bootstrap heading (1.75rem = 28px)</h3>
		<h4>h4 Bootstrap heading (1.5rem = 24px)</h4>
		<h5>h5 Bootstrap heading (1.25rem = 20px)</h5>
		<h6>h6 Bootstrap heading (1rem = 16px)</h6>
	</div>
	<div class="container-fluid showgrid">
		<h2>Table</h2>
		<p>The .table-hover class enables a hover state (grey background on mouse over) on table rows:</p>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>John</td>
					<td>Doe</td>
					<td>john@example.com</td>
				</tr>
				<tr class="active">
					<td>Mary</td>
					<td>Moe</td>
					<td>mary@example.com</td>
				</tr>
				<tr>
					<td>Mary</td>
					<td>Moe</td>
					<td>mary@example.com</td>
				</tr>
				<tr>
					<td>John</td>
					<td>Doe</td>
					<td>john@example.com</td>
				</tr>
				<tr>
					<td>July</td>
					<td>Dooley</td>
					<td>july@example.com</td>
				</tr>
				<tr>
					<td>John</td>
					<td>Doe</td>
					<td>john@example.com</td>
				</tr>
				<tr>
					<td>July</td>
					<td>Dooley</td>
					<td>july@example.com</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container-fluid">
		<h2>Cards</h2>
		<div class="card">
			<div class="card-header">
				<div class="left">
					<h3>titre</h3>
				</div>
				<div class="right">
					{% include "main/prospero/svg-icons/edit.html" %}
					{% include "main/prospero/svg-icons/plus.html" %}
					{% include "main/prospero/svg-icons/moins.html" %}
				</div>
			</div>
			<div class="card-body">
				... content
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="card">
					<div class="card-header">
						<div class="left">
							<h3>titre</h3>
						</div>
						<div class="right">
							{% include "main/prospero/svg-icons/edit.html" %}
							{% include "main/prospero/svg-icons/plus.html" %}
							{% include "main/prospero/svg-icons/moins.html" %}
						</div>
					</div>
					<div class="card-body">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Firstname</th>
									<th>Lastname</th>
									<th>Email</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>John</td>
									<td>Doe</td>
									<td>john@example.com</td>
								</tr>
								<tr>
									<td>John</td>
									<td>Doe</td>
									<td>john@example.com</td>
								</tr>
								<tr>
									<td>July</td>
									<td>Dooley</td>
									<td>july@example.com</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="card-header">
						<div class="left">
							<h3>titre</h3>
						</div>
						<div class="right">
							{% include "main/prospero/svg-icons/edit.html" %}
							{% include "main/prospero/svg-icons/plus.html" %}
							{% include "main/prospero/svg-icons/moins.html" %}
						</div>
					</div>
					<div class="card-body">
						<div class="cartouche txt_18">
							<div class="cartouche_item"><label>Title: </label>Le vaccin contre le Covid-19 sera-t-il obligatoire
								?
							</div>
							<div class="cartouche_item"><label>Author: </label>Jean-Yves Nau</div>
							<div class="cartouche_item"><label>Source: </label>Slate</div>
							<div class="cartouche_item"><label>Date: </label>May 25, 2020</div>
							<div class="cartouche_item"><label>Support: </label>Internet</div>
							<div class="cartouche_item"><label>Number of characters: </label>200 000</div>
						</div>
						<article class="main_article">
							<p>
								Formidable paradoxe: alors qu’on ne cesse d’évoquer les bénéfices d’un vaccin protecteur contre le
								Covid-19, les ventes de vaccins ne cessent, en France de diminuer; atteignant, durant le
								confinement, moins 50% pour l’obligatoire rougeole-oreillons-rubéole. Conséquence: un risque
								croissant de résurgence épidémique de maladies infectieuses et contagieuses. Un risque d’autant
								plus grand qu’il s’inscrit dans le cadre plus général d’une opposition, à la fois latente et
								structurée, au principe même de la vaccination.
							</p>
							<p>
								Dans ce contexte, on peut prévoir l’émergence sous une nouvelle forme, de la confrontation entre
								les libertés individuelles et un pouvoir exécutif imposant une contrainte corporelle au nom de la
								santé publique. Imposer, de gré ou de force, le futur vaccin contre le Covid-19?
							</p>
							<p>
								Cette confrontation bien connue, qui nourrit le combat des anti-vaccins, prendra alors une
								nouvelle dimension. À la fois du fait de la dimension pandémique de la maladie, mais aussi et
								surtout de ses innombrables conséquences médicales et économiques, politiques et diplomatiques.
							</p>
							<p>
								Il n’est pas trop tôt pour s’intéresser à ce sujet. Si certaines interrogations théoriques
								demeurent, tout laisse penser, au vu des efforts considérables déployés à l’échelle international,
								que l’on parviendra à mettre au point plusieurs vaccins protecteurs contre le Covid-19; les
								premiers pouvant être mis sur le marché durant l’année 2021.
							</p>
							<p>
								Or un sondage Ifop pour le consortium Coconel (Coronavirus et confinement: enquête longitudinale)
								réalisé fin mars 2020 établit que plus d’un quart des Français·es (26%) ne voudraient pas se faire
								vacciner contre le SARS-CoV-2. «Ce refus est plus important chez les femmes, notamment les jeunes,
								alors que ce sont elles, souvent, qui prennent les décisions vaccinales pour les enfants», pointe
								dans Le Monde Patrick Peretti-Watel, sociologue, directeur de recherche à l’Inserm et coordinateur
								scientifique du projet Coconel.
							</p>
							<p>
								«Le pourcentage de refus est plus élevé (39%) chez les 26-35 ans. Un tiers environ des employés et
								des ouvriers le refuseraient aussi, alors que, chez les cadres et professions intellectuelles
								supérieures, le taux de refus n’est que de 16%.»
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<h2>Modale</h2>
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
		Modal with header
		</button>
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalbis">
		Modal without header
		</button>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body txt_l">
					Do you really want to delete this text ?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Yes</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">no</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="exampleModalbis" tabindex="-1" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body txt_l">
					Do you really want to delete this text ?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Yes</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">no</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<h2>Loaders</h2>
		<div class="row">
			<div class="col">
				<div class="spinner-border" role="status"></div>
			</div>
			<div class="col">
				<div class="spinner-grow" role="status"></div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
	<h2>Loaders</h2>
	<div class="row">
		<div class="col">
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
					aria-valuemax="100"></div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
	<h2>Forms</h2>
	<div class="row">
		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">@</span>
						<input type="text" class="form-control" placeholder="Username" aria-label="Username"
							aria-describedby="basic-addon1">
					</div>
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Recipient's username"
							aria-label="Recipient's username" aria-describedby="basic-addon2">
						<span class="input-group-text" id="basic-addon2">@example.com</span>
					</div>
					<label for="basic-url" class="form-label">Your vanity URL</label>
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
						<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
					</div>
					<div class="input-group mb-3">
						<span class="input-group-text">$</span>
						<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
						<span class="input-group-text">.00</span>
					</div>
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Username" aria-label="Username">
						<span class="input-group-text">@</span>
						<input type="text" class="form-control" placeholder="Server" aria-label="Server">
					</div>
					<div class="input-group">
						<span class="input-group-text">With textarea</span>
						<textarea class="form-control" aria-label="With textarea"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
	<h2>Mosaique</h2>
	<div class="row">
		<div class="mosaique_wrapper col-sm-9">
			<div class="card">
				<div class="card-header">
					<h3 class="txt_20 title">Participatory Sciences and Biodiversity</h3>
				</div>
				<div class="card-body txt_13">
					Modified 29/04/2020<br>
					Tags : Ecran, Jeunes, Dangers, <br>
					Chateauraynaud Francis
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3 class="txt_20 title">Participatory Sciences and Biodiversity</h3>
				</div>
				<div class="card-body txt_13">
					Modified 29/04/2020<br>
					Tags : Ecran, Jeunes, Dangers, <br>
					Chateauraynaud Francis
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3 class="txt_20 title">Participatory Sciences and Biodiversity</h3>
				</div>
				<div class="card-body txt_13">
					Modified 29/04/2020<br>
					Tags : Ecran, Jeunes, Dangers, <br>
					Chateauraynaud Francis
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3 class="txt_20 title">Participatory Sciences and Biodiversity</h3>
				</div>
				<div class="card-body txt_13">
					Modified 29/04/2020<br>
					Tags : Ecran, Jeunes, Dangers, <br>
					Chateauraynaud Francis
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3 class="txt_20 title">Participatory Sciences and Biodiversity</h3>
				</div>
				<div class="card-body txt_13">
					Modified 29/04/2020<br>
					Tags : Ecran, Jeunes, Dangers, <br>
					Chateauraynaud Francis
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3 class="txt_20 title">Participatory Sciences and Biodiversity</h3>
				</div>
				<div class="card-body txt_13">
					Modified 29/04/2020<br>
					Tags : Ecran, Jeunes, Dangers, <br>
					Chateauraynaud Francis
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3 class="txt_20 title">Participatory Sciences and Biodiversity</h3>
				</div>
				<div class="card-body txt_13">
					Modified 29/04/2020<br>
					Tags : Ecran, Jeunes, Dangers, <br>
					Chateauraynaud Francis
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3 class="txt_20 title">Participatory Sciences and Biodiversity</h3>
				</div>
				<div class="card-body txt_13">
					Modified 29/04/2020<br>
					Tags : Ecran, Jeunes, Dangers, <br>
					Chateauraynaud Francis
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3 class="txt_20 title">Participatory Sciences and Biodiversity</h3>
				</div>
				<div class="card-body txt_13">
					Modified 29/04/2020<br>
					Tags : Ecran, Jeunes, Dangers, <br>
					Chateauraynaud Francis
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h3 class="txt_20 title">Participatory Sciences and Biodiversity</h3>
				</div>
				<div class="card-body txt_13">
					Modified 29/04/2020<br>
					Tags : Ecran, Jeunes, Dangers, <br>
					Chateauraynaud Francis
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="mosaique_side">
				<h4>Algues vertes et nitrates</h4>
				<span class="bold">300 texts / 200 000 characters</span>
				<p class="intro">Algues vertes et nitrates concerne la crise du Coronavirus sur son aspect attentatoire aux libertés individuelles à partir de tribunes publiées du 20 avril au 5 mai.</p>
				<div class="cartouche_item">
					Created:
					Wednesday, April 29th, 2020 at 2:24pm
				</div>
				<div class="cartouche_item">
					Created:
					Wednesday, April 29th, 2020 at 2:24pm
				</div>
				<div class="cartouche_item">
					Created:
					Wednesday, April 29th, 2020 at 2:24pm
				</div>
				<div class="cartouche_item">
					Created:
					Wednesday, April 29th, 2020 at 2:24pm
				</div>
			</div>
		</div>
	</div>
	<script>
	</script>
{% endblock %}
