{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {{ title }}
        </title>
		<!--<link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}favicon/favicon.ico"/>-->
        <!-- css -->
        <!--<link rel="stylesheet" type="text/css" href="http://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css" />-->
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}components/w2ui/w2ui.css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}components/jqueryui/jquery-ui.css">

        <link rel="stylesheet" href="{{ MEDIA_URL }}components/tool_dropzone.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}assets/css/prospero.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}components/style.css">
        <!-- javascript -->
        <script src="{{ MEDIA_URL }}components/jquery/jquery-1.9.1.js"></script>

        <!--<script type="text/javascript" src="http://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.js"></script>-->
        <script type="text/javascript" src="{{ MEDIA_URL }}components/w2ui/w2ui.min.js"></script>

        <script src="{{ MEDIA_URL }}components/jqueryui/jquery-ui.js"></script>
        <script src="{{ MEDIA_URL }}assets/js/bootstrap.bundle.min.js"></script>
        <script src="{{ MEDIA_URL }}components/underscore.js"></script>
        <script src="{{ MEDIA_URL }}components/tool_dropzone.js"></script>
        <script src="{{ MEDIA_URL }}components/Prospero.js"></script>
        <script src="{{ MEDIA_URL }}components/PModal.js"></script>
        <script src="{{ MEDIA_URL }}components/PProjectView.js"></script>
        <script src="{{ MEDIA_URL }}components/PWidgets.js"></script>
        <script src="{{ MEDIA_URL }}components/UrlUtils.js"></script>
        <script>
            var prospero = new Prospero();
            var urls = new UrlUtils();
        </script>
    </head>
    <body>
        {% include "main/prospero/structure/modals/import-modal.html" %}
        {% include "main/prospero/structure/modals/approval-modal.html" %}
        {% include "main/prospero/structure/modals/new-text-modal.html" %}
        {% include "main/prospero/structure/modals/new-corpus-modal.html" %}
        {% include "main/prospero/structure/modals/export-modal.html" %}
        <main>
            <section class="side_container">
                {% include "main/prospero/structure/sidebar.html" %}
            </section>
            <section class="main_container">
                {% include "main/prospero/structure/header.html" %}
                {% block content %}
                {% endblock %}
            </section>
        </main>
        <script src="{{ MEDIA_URL }}assets/js/prefixfree.min.js"></script>
    </body>
</html>