{% load static %}
{% load custom %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {{ title }}
        </title>
		<!--<link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}favicon/favicon.ico"/>-->

        <!-- css -->

        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}components/w2ui/w2ui.css" /><!--<link rel="stylesheet" type="text/css" href="http://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css" />-->
        <link rel="stylesheet" href="{{ MEDIA_URL }}components/bootstrap/css/bootstrap.min.css">

        <link rel="stylesheet" href="{{ MEDIA_URL }}components/jqueryui/jquery-ui.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}components/fontello/css/fontello.css?{{ MEDIA_TIMESTAMP }}">
        <link rel="stylesheet" href="{{ MEDIA_URL }}components/dropzone/tool_dropzone.css?{{ MEDIA_TIMESTAMP }}">
        <!--<link rel="stylesheet" href="{{ MEDIA_URL }}assets/css/prospero.css?{{ MEDIA_TIMESTAMP }}">-->
        <link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/manu-lechat/prospero/main/assets/css/prospero.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}assets/css/style.css?{{ MEDIA_TIMESTAMP }}">

        <!-- javascript -->

        <script src="{{ MEDIA_URL }}components/jquery/jquery-1.9.1.js"></script>
        <script src="{{ MEDIA_URL }}components/jquery-replace-tag/jquery-replace-tag.js"></script>
        <script src="{{ MEDIA_URL }}components/w2ui/w2ui.min.js"></script><!--<script type="text/javascript" src="http://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.js"></script>-->
        <script src="{{ MEDIA_URL }}components/jqueryui/jquery-ui.js"></script>
        <script src="{{ MEDIA_URL }}components/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="{{ MEDIA_URL }}components/bootstrap-tagsinput/tags.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}components/bootstrap-tagsinput/TagManager.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}components/bootstrap-tagsinput/TagsInput.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}components/autocomplete/Autocomplete.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}components/autocomplete/UserAutocomplete.js?{{ MEDIA_TIMESTAMP }}"></script>

        <script src="{{ MEDIA_URL }}components/underscore/underscore.js"></script>
        <script src="{{ MEDIA_URL }}components/autoresize/autosize.min.js"></script>
        <script src="{{ MEDIA_URL }}components/dropzone/tool_dropzone.js?{{ MEDIA_TIMESTAMP }}"></script>

        <script src="{{ MEDIA_URL }}prospero/PInterface.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/Prospero.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/UrlUtils.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/widgets/PConnectPanel.js?{{ MEDIA_TIMESTAMP }}"></script>

        <script src="{{ MEDIA_URL }}prospero/modals/PModal.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/modals/InfoModal.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/modals/ApprovalModal.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/modals/ExportModal.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/modals/ImportModal.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/modals/NewCorpusModal.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/modals/NewMetadataModal.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/modals/NewProjectModal.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/modals/NewTextModal.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/modals/NewUserModal.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/modals/EditUserModal.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/modals/NewGroupModal.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/modals/EditGroupModal.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/modals/ChangeRightsModal.js?{{ MEDIA_TIMESTAMP }}"></script>

        <script src="{{ MEDIA_URL }}prospero/modals/Modals.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/widgets/PLayout.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/widgets/PForm.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/widgets/PPanels.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/widgets/PTable.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/widgets/PWidgets.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/widgets/SwitchPanel.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/views/projectView/CorporaTable.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/views/projectView/DicoTable.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/views/projectView/EditorPanel.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/views/projectView/TextTable.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/views/projectsView/PProjectPanel.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/views/PProjectsListView.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/views/PProjectsMosaicView.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/views/PProjectView.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/views/PUsersView.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/views/settings-view/UserTable.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/widgets/PList.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/views/settings-view/PUserList.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/views/settings-view/PListUserItem.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/views/projectsView/PUserRightList.js?{{ MEDIA_TIMESTAMP }}"></script>
        <script src="{{ MEDIA_URL }}prospero/views/projectsView/PListUserRightItem.js?{{ MEDIA_TIMESTAMP }}"></script>

        <script>
            var prospero = new Prospero();
            var urls = new UrlUtils();
        </script>
    </head>
    <body page="{{ page }}" data-page-data="{{ pageData|dump }}" data-user-data="{{ userData|dump }}" data-pagination="{{ pagination|dump }}">
        {% include "main/prospero/structure/modals/info-modal.html" %}
        {% include "main/prospero/structure/modals/import-modal.html" %}
        {% include "main/prospero/structure/modals/approval-modal.html" %}
        {% include "main/prospero/structure/modals/new-text-modal.html" %}
        {% include "main/prospero/structure/modals/new-corpus-modal.html" %}
        {% include "main/prospero/structure/modals/new-project-modal.html" %}
        {% include "main/prospero/structure/modals/new-metadata-modal.html" %}
        {% include "main/prospero/structure/modals/export-modal.html" %}
        {% include "main/prospero/structure/modals/new-user-modal.html" %}
        {% include "main/prospero/structure/modals/edit-user-modal.html" %}
        {% include "main/prospero/structure/modals/new-group-modal.html" %}
        {% include "main/prospero/structure/modals/edit-group-modal.html" %}
        {% include "main/prospero/structure/modals/change-rights-modal.html" %}
        <main>
            <section class="side_container">
                {% include "main/prospero/structure/sidebar.html" %}
            </section>
            <section class="main_container">
                {% block header %}
                {% endblock %}
                {% block content %}
                {% endblock %}
            </section>
        </main>
        <script src="{{ MEDIA_URL }}components/prefixfree/prefixfree.min.js"></script>
    </body>
</html>