<header class="side_header ">
    <img src="{{ MEDIA_URL }}assets/images/prospero_logo.svg" class="logo">
</header>
<div class="nav side_nav">
    <a href="{% url 'projects-mosaic' %}" class="side_nav_link {% if page == 'projects-list' or page == 'projects-mosaic' %}active{% endif %}">
        {% include "main/prospero/svg-icons/sidebar/mosaic.html" %}
    </a>
    <a {% if project %}href="{% url 'project' project.id %}{% endif %}" base-href="/project/" class="sidebar-link-project side_nav_link {% if page == "project" %}active{% endif %}">
        {% include "main/prospero/svg-icons/sidebar/book.html" %}
    </a>
    <a href="#" class="side_nav_link ">
        {% include "main/prospero/svg-icons/sidebar/rocket.html" %}
    </a>
    {% if user.isAdministrator %}
        <a href="{% url 'settings' %}" class="side_nav_link {% if page == 'settings' %}active{% endif %}">
            {% include "main/prospero/svg-icons/sidebar/gear.html" %}
        </a>
    {% endif %}
</div>