/* notice that this is not the full version, only required rules for layout are kept */

/*************************************************
* ---- Locking portion of the screen (in grid, form, layout)
*/
.w2ui-lock {
  display: none;
  position: absolute;
  z-index: 1400;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  filter: alpha(opacity=15);
  background-color: #333;
}
.w2ui-lock-msg {
  display: none;
  position: absolute;
  z-index: 1400;
  top: 45%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 200px;
  height: 80px;
  padding: 30px 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  font-family: OpenSans;
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-color: #555;
  color: white;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #444;
}
.w2ui-lock-msg .w2ui-spinner {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: -3px 8px -7px -10px;
}

/*************************************************
* ---- Layout ----
*/
.w2ui-layout {
  overflow: hidden !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.w2ui-layout * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.w2ui-layout > div {
  position: absolute;
  overflow: hidden;
  border: 0px;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.w2ui-layout > div .w2ui-panel {
  display: none;
  position: absolute;
  z-index: 120;
}
.w2ui-layout > div .w2ui-panel .w2ui-panel-title {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  padding: 5px;
  background-color: #fff;
  color: #656164cc;
  border: 1px solid #efefef;
  border-bottom: 1px solid #f5f5f5 !important;
}
.w2ui-layout > div .w2ui-panel .w2ui-panel-tabs {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 2;
  display: none;
  overflow: hidden;
  background-color: #fff;
  padding: 0px;
}
.w2ui-layout > div .w2ui-panel .w2ui-panel-tabs > .w2ui-tab.active {
  background-color: #fcfcfc;
}
.w2ui-layout > div .w2ui-panel .w2ui-panel-toolbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 2;
  display: none;
  overflow: hidden;
  background-color: #FAFAFA;
  border-bottom: 1px solid #efefef;
  padding: 2px;
}
.w2ui-layout > div .w2ui-panel .w2ui-panel-content {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  color: inherit;
  background-color: #fcfcfc;
}
.w2ui-layout > div .w2ui-resizer {
  display: none;
  position: absolute;
  z-index: 121;
  background-color: transparent;
}
.w2ui-layout > div .w2ui-resizer:hover,
.w2ui-layout > div .w2ui-resizer.active {
  background-color: #C8CAD1;
}


/*************************************************
* ---- Tabs ----
*/
.w2ui-tabs {
  cursor: default;
  overflow: hidden !important;
  position: relative;
  background-color: #fff;
  min-height: 28px;
  padding: 0px;
  margin: 0px;
}
.w2ui-tabs .w2ui-tabs-line {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  border: 0;
  height: 1px;
  background-color: #e2e2e2;
}
.w2ui-tabs .w2ui-scroll-left,
.w2ui-tabs .w2ui-scroll-right {
  z-index: 30;
}
.w2ui-tabs .w2ui-scroll-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0 7px;
}
.w2ui-tabs .w2ui-scroll-wrapper .w2ui-tab {
  height: 28px;
  position: relative;
  z-index: 20;
  padding: 7px 20px 4px 20px;
  text-align: center;
  color: black;
  background-color: transparent;
  border: 2px solid transparent;
  white-space: nowrap;
  margin: 0px 1px;
  border-radius: 4px 4px 0 0;
  cursor: default;
  user-select: none;
}
.w2ui-tabs .w2ui-scroll-wrapper .w2ui-tab.active {
  color: #0175ff;
  background-color: transparent;
  border: 2px solid transparent;
  border-bottom: 2px solid #0175ff;
  margin-bottom: 0px;
}
.w2ui-tabs .w2ui-scroll-wrapper .w2ui-tab.moving {
  color: inherit;
  background-color: #eee;
  border: 2px solid transparent;
  border-radius: 0px;
  margin-bottom: 0px;
}
.w2ui-tabs .w2ui-scroll-wrapper .w2ui-tab.closable {
  padding: 6px 28px 6px 20px;
}
.w2ui-tabs .w2ui-scroll-wrapper .w2ui-tab .w2ui-tab-close {
  position: absolute;
  right: 3px;
  top: 4px;
  color: #555;
  float: right;
  padding: 0px 4px;
  width: 16px;
  height: 16px;
  opacity: 0.6;
  border: 0px;
  border-top: 3px solid transparent;
  border-radius: 9px;
}
.w2ui-tabs .w2ui-scroll-wrapper .w2ui-tab .w2ui-tab-close:hover {
  color: red;
  opacity: 1;
  font-weight: bold;
}
.w2ui-tabs .w2ui-scroll-wrapper .w2ui-tab .w2ui-tab-close:before {
  position: relative;
  top: -2px;
  left: 0px;
  color: inherit;
  text-shadow: inherit;
  content: 'x';
}
.w2ui-tabs .w2ui-scroll-wrapper .w2ui-tabs-right {
  padding: 8px 2px;
  width: 100%;
  text-align: right;
  white-space: nowrap;
}
.w2ui-tabs.w2ui-tabs-up .w2ui-tabs-line {
  top: 0px;
  bottom: auto;
}
.w2ui-tabs.w2ui-tabs-up .w2ui-scroll-wrapper .w2ui-tab {
  border: 2px solid transparent;
  border-top: 2px solid transparent;
  border-radius: 0 0 4px 4px;
}
.w2ui-tabs.w2ui-tabs-up .w2ui-scroll-wrapper .w2ui-tab.active {
  border: 2px solid transparent;
  border-top: 2px solid #0175ff;
  margin-top: 0px;
}