{% load custom %}
<header class="main_header ">
    <div class="main_header_left">
        <h1>Prospero settings</h1>
        <h2>Sed fringilla nisl magna. Curabitur in sapien at tortor volutpat sodales vel at ligula. Nam rutrum vestibulum dui at lobortis. Vivamus rhoncus erat pharetra, condimentum nisl eu, semper lectus. Sed pharetra magna pharetra, feugiat libero et, varius eros. Donec nec rhoncus sapien, non semper purus. Donec feugiat sem nec mattis vehicula. Nunc fermentum mattis efficitur. Nulla placerat finibus ligula a aliquet.</h2>
    </div>
    <div class="main_header_right">
        {% include "main/prospero/structure/header/connection-panel.html" %}
    </div>
</header>