<div class="users-panel">
	<header class="main_header card-header" style="height: auto; min-height: auto;">
		<div class="">
			{% include "main/prospero/widgets/searchInput.html" %}
		</div>
		<div class="little-generic-menu" style="width:2rem;">
			{% include "main/prospero/widgets/generic-menu.html" %}
		</div>
	</header>
	<div class="card-body">
		<table class="table table-hover users-table">
			<thead>
				<tr>
					<th property-name="thumbnail"></th>
					<th property-name="username">User name</th>
					<th property-name="first_name">First name</th>
					<th property-name="last_name">Last Name</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
