<header class="main_header">
    <div class="main_header_left">
        {% include "main/prospero/widgets/searchInput.html" %}
        <div class="navbar_container">
            <div class="navbar_line">
                {% include "main/prospero/structure/header/view-switcher.html" %}
                <div class="separator"></div>
                <span class="label ">Sort by :</span>
                <a class="sort_item active" href="#">
                <span class="pin"></span>
                Title
                </a>
                <a class="sort_item" href="#">
                <span class="pin"></span>
                Date
                </a>
            </div>
        </div>
    </div>
    <div class="main_header_right">
        {% include "main/prospero/svg-icons/library.html" %}
        {% include "main/prospero/structure/header/connection-panel.html" %}
    </div>
</header>